@{
	ViewData["Title"] = "Contact Us";
}


<section class="container">
	<h2 class="my-5 text-center text-darkgreen">
		@ViewData["Title"]
	</h2>
	<div class="row gx-5">
		<img src="~/image/contact.jpg" class="img-fluid col-5 rounded" />
		<div class="col-7">
			<h3 class="text-darkgreen mb-3">We accept any feedback!</h3>
			<h5 class="text-darkgreen mb-3">Contact us by sending an email using the button below</h5>
			<email address="info@@cafebeanscene.com" content="Contact us" class="btn btn-secondary"></email>
		</div>
	</div>
</section>